/* These styles are generated from project.scss. */

p {
  margin-bottom: 0.2rem;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.glyph-icon svg {
width:24px;
height:24px;
}

p.prop-stats {
  text-align: center;
  margin-bottom: 0.4rem;
}