    <div class="row">
        <div class="col-sm-4">
            <h5>Property</h5>
        </div>
        <div class="col-sm">
            <h5>Avg</h5>
        </div>
        <div class="col-sm">
            <h5>Min.</h5>
        </div>
        <div class="col-sm">
            <h5>Max.</h5>
        </div>
    </div>

    {% include "viewer/inc/period_item.html" with field_name="Temperature" field_unit="°C" item=period.temperature_stats %}
    {% include "viewer/inc/period_item.html" with field_name="Humidity" field_unit="%" item=period.humidity_stats %}
    {% include "viewer/inc/period_item.html" with field_name="Dew Point" field_unit="°C" item=period.dew_point_stats %}
    {% include "viewer/inc/period_item.html" with field_name="Pressure" field_unit="hPa" item=period.pressure_stats %}
    {% include "viewer/inc/period_item.html" with field_name="Wind speed" field_unit="knots" item=period.wind_speed_stats %}
    {% include "viewer/inc/period_item.html" with field_name="Max Wind speed" field_unit="knots" item=period.max_wind_speed_stats %}

    <div class="row">
        <div class="col-sm-4">
            <h5>Property</h5>
        </div>
        <div class="col-sm">
            <h5>Total</h5>
        </div>
      {% if not dayflag %}
        <div class="col-sm">
            <h5>Avg</h5>
        </div>
        <div class="col-sm">
            <h5>Max.</h5>
        </div>
      {% endif %}
    </div>
  {% include "viewer/inc/period_item.html" with field_name="Sun hours" field_unit="h" item=period.sun_hours_stats dayflag=dayflag %}
  {% include "viewer/inc/period_item.html" with field_name="Rain" field_unit="mm" item=period.rain_stats dayflag=dayflag %}
