
{% if item.is_intensive %}

    <div class="row">
        <div class="col-sm-4">
            <p>{{field_name}}
            {% if field_unit %}
                ({{field_unit}})
            {% endif %}
            </p>
        </div>
        <div class="col-sm">
            <p>{{item.avg | floatformat}}</p>
        </div>
        <div class="col-sm">
            <p>{{item.min | floatformat}}</p>
        </div>
        <div class="col-sm">
            <p>{{item.max | floatformat}}</p>
        </div>
    </div>

{% endif %}

{% if item.is_extensive %}
    <div class="row">
        <div class="col-sm-4">
            <p>{{field_name}}
            {% if field_unit %}
                {{field_unit}}
            {% endif %}
            </p>
        </div>
        <div class="col-sm">
            <p>{{item.total | floatformat}}</p>
        </div>
    {% if not dayflag %}
        <div class="col-sm">
            <p>{{item.avg | floatformat}}</p>
        </div>
        <div class="col-sm">
            <p>{{item.max | floatformat}}</p>
        </div>
    {% endif %}
    </div>
{% endif %}
