{% if item.is_intensive %}
    <p class="prop-stats">
        {% if not is_day %}Avg {% endif %}Low: {{item.min | floatformat}}{% if field_unit %} {{field_unit}}{% endif %},
        Mean: {{item.avg | floatformat}}{% if field_unit %} {{field_unit}}{% endif %}, 
        {% if not is_day %}Avg {% endif %}High: {{item.max | floatformat}}{% if field_unit %} {{field_unit}}{% endif %}
    </p>
{% endif %}

{% if item.is_extensive %}
    <p class="prop-stats">
        Total: {{item.total | floatformat}}{% if field_unit %} {{field_unit}}{% endif %}
        {% if not dayflag %}
            , Mean: {{item.avg | floatformat}}{% if field_unit %} {{field_unit}}{% endif %} 
            , Max: {{item.max | floatformat}}{% if field_unit %} {{field_unit}}{% endif %}
        {% endif %}
    </p>
{% endif %}
