{% extends "base.html" %}
{% load static i18n %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/bootstrap-datepicker3.css' %}" rel="stylesheet">

{% endblock css %}

{% block title %}Compare{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-3">
      <form>
        <p>Select which type of type of period to be compared</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary btn-period" id="period-year">Year</button>
          <button type="button" class="btn btn-secondary btn-period" id="period-month">Month</button>
          <button type="button" class="btn btn-secondary btn-period" id="period-day">Day</button>
        </div>

        <div id="object-selector" style="max-height: 20em; overflow-y: scroll;">
        </div>


        <div id="object-list"></div>

        <p>Select the type of curve:</p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownCurve" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select curve</button>
          <div class="dropdown-menu">
            <a class="dropdown-item curve-select" id="temp" href="#">Temperature</a>
            <a class="dropdown-item curve-select" id="humid" href="#">Humidity</a>
            <a class="dropdown-item curve-select" id="dew" href="#">Dew Point</a>
            <a class="dropdown-item curve-select" id="press" href="#">Pressure</a>
            <a class="dropdown-item curve-select" id="wind" href="#">Wind Speed</a>
            <a class="dropdown-item curve-select" id="sun" href="#">Sun hours</a>
            <a class="dropdown-item curve-select" id="rain" href="#">Rain</a>
            <a class="dropdown-item curve-select" id="max_wind" href="#">Max Wind Speed</a>
          </div>
        </div>

        <div id="curve-type"></div>

        <button type="button" class="btn btn-primary" id="apply" style="margin-top: 1em;">Apply</button>
      </form>
    </div>


    <div class="col-9">
      <canvas id="chart"></canvas>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/iconwc.js' %}"></script>
  <script src="{% static 'js/Chart.bundle.min.js' %}"></script>


  <script>
    // ajax parameters
    let period_type = "";
    let periods = [];
    let curve = "";
    let curve_type = "";

    let years = [{% for y in years %}'{{ y }}',{% endfor %}];
    let months = [{% for m in months %}'{{ m }}',{% endfor %}];
    let days_range = [{% for d in dayrange %} '{{ d }}', {% endfor %}]
    let date_id = 0;
    let delete_icon = '{% static "svg/si-glyph-delete.svg" %}';
    let add_icon = '{% static "svg/si-glyph-circle-plus.svg" %}';

    let curves_dict = {}; // curve name, intensive flag (0: intensive, 1, extensive)
    curves_dict["temp"] = ["temperature", 0];
    curves_dict["humid"] = ["humidity", 0];
    curves_dict["dew"] = ["dew_point", 0];
    curves_dict["press"] = ["pressure", 0];
    curves_dict["wind"] = ["wind_speed", 0];
    curves_dict["sun"] = ["sun_hours", 1];
    curves_dict["rain"] = ["rain", 1];
    curves_dict["max_wind"] = ["max_wind_speed", 0];

    function addDatePicker(date_id, date_min, date_max) {
      let datepicker = '<div class="input-group date">' +
        '<input id="'+ date_id +'" type="date" name="date-'+ date_id +'" class="form-control period-value" min="' + date_min + '" max="' + date_max + '">';
        //'<div class="input-group-addon">' +
        //'<span class="glyphicon glyphicon-th"></span>' +
        //'</div>' +
      if ($("#object-selector").children().length > 0) {
        datepicker += '<button type="button" class="btn glyph-icon btn-del-date">' +
          '  <svg-icon class="glyph-icon"><src href="' + delete_icon + '"/></svg-icon>' +
          '</button>';
      }

      datepicker += '<button type="button" class="btn-add-date btn glyph-icon">' +
        '  <svg-icon class="glyph-icon"><src href="' + add_icon + '"/></svg-icon>' +
        '</button>'+
        '</div>';

      $("#object-selector").append(datepicker);
    }

    function addCheckBoxSelector(periods) {
      var fieldset = $('<fieldset class="form-group"></fieldset>');
      periods.forEach(p => {
        let checkdiv = '<div class="form-check">' +
          ' <input class="form-check-input period-value" type="checkbox" id="year-' + p + '">' +
          ' <label class="form-check-label" for="year-' + p + '">' +  p +'</label>' +
          '</div>';
        fieldset.append(checkdiv);
      });
      $("#object-selector").empty();
      $("#object-selector").append(fieldset);
    }

    $(".btn-period").click(function(e){
      periods = []; // we reinit values when changing type of periods
      let period_type_id = $(this).attr('id');
      let new_period_type = period_type_id.replace("period-", "");
      if (period_type !== new_period_type) {periods = [];}
      period_type = new_period_type;
      switch (period_type) {
        case "day":
          $("#object-selector").empty();
          addDatePicker(date_id, days_range[0], days_range[1]);
          break;
        case "month":
          addCheckBoxSelector(months);
          break;
        case "year":
          addCheckBoxSelector(years);
          break;
      }
    });

    $(document.body).on('click', '.btn-add-date' ,function(e){
      date_id++;
      addDatePicker(date_id, days_range[0], days_range[1]);
    });

    $(document.body).on('click', '.btn-del-date' ,function(e){
      let to_remove = $(this).next().value;
      let index = periods.indexOf(to_remove);
      if (index > -1) { periods.splice(index, 1);}
      $(this).parent().remove();
    });

    $(".curve-select").click(function(e){
      curve =  curves_dict[this.id][0];
      $(this).parent().children().removeClass("active");
      $(this).toggleClass("active");
      $("#dropDownCurve").text($(this).text());
      // e.preventDefault();
      $("#curve-type").empty();
      if (period_type === 'day'){ curve_type="";}
      else {
        if (curves_dict[this.id][1] == 0){
          let radio_buttons =
            '<div class="form-check"><input id="type_max" type="radio" class="form-check-input" name="curve_type" value="max"><label class="form-check-label" for="type_avg">Maximum</label></div>' +
            '<div class="form-check"><input id="type_avg" type="radio" class="form-check-input" name="curve_type" value="avg"><label class="form-check-label" for="type_avg">Average</label></div>' +
            '<div class="form-check"><input id="type_min" type="radio" class="form-check-input" name="curve_type" value="min"><label class="form-check-label" for="type_avg">Minimum</label></div>';
          $("#curve-type").append(radio_buttons)
        } else {
          curve_type = "total";
        }
      }});

    $(document.body).on('change', 'input[name="curve_type"]' ,function(e){
      curve_type = $('input[name="curve_type"]:checked').val();
    });

    $("#apply").click(function(e){
      periods = [];
      if (period_type === 'day'){
        $('.period-value').each(function () {
          periods.push($(this).val());
        });
      } else {
        $('.period-value:checked').each(function () {
          periods.push(this.parentNode.textContent);
        });
      }
      let payload = {
        'period_type': period_type,
        'periods': periods.join(),
        'curve': curve,
        'curve_type': curve_type,
      };
      // alert('Data: ' + periods + '\nCurve Type: ' + curve + '\nperiod type: ' + period_type);
      $.get('/ajax/compare', payload, function(data){
          set_diagram(data['x_values'], data['y_values'])
      });
    });

    function clearChart(){
      let chart_area = $("#chart").parent();
      chart_area.empty();
      chart_area.append('<canvas id="chart"></canvas>');
    }



    function set_diagram(x_values, y_values) {
      clearChart();
      let ctx = $("#chart");
      // let ctx = document.getElementById("chart").getContext('2d');
      let curve_datasets = [];

      let red = 255;
      let green = 30;
      let blue = 30;
      let nb_series = Object.keys(y_values).length;
      let step = 0;
      if (nb_series > 1){ step = Math.round((255 - 30)/(nb_series - 1));}

      for (let series in y_values) {
        let color_str = "rgb(" + red + ", " + green + ", " + blue + ", 0.8)";
        red -= step;
        blue += step;
        green += Math.round(0.5 * step);

        curve_datasets.push({
          label: series,
          fill: false,
          lineTension: 0.2,
          borderColor: color_str,
          backgroundColor: color_str,
          data: y_values[series],
          yAxisID: 'y-axis',
        });
      }
      let max_xaxis_ticks = {
        "day": 24,
        "month": 31,
        "year": 12,
      }

      let myLineChart = new Chart(ctx[0].getContext('2d'), {
        type: 'line',
        data: {
            labels:x_values.split(","),
            datasets: curve_datasets,
        },
        options: {
            responsive: true,
            title: {
              display: true,
              text: curve,
            },
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                padding: 20,
              },
            },
            tooltips: {
                position: 'average',
                mode:  'index',
                intersect: false,
            },
            hover: {
                mode: 'index',
                intersect: true,
            },
            scales: {
                xAxes: [{
                    id: 'x-axis',
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: max_xaxis_ticks[period_type],
                    }
                }],
                yAxes: [
                    {
                        id: 'y-axis',
                        type: 'linear',
                        labelString: "Count",
                        position: 'left',
                        display: true,
                        /*ticks: {
                            suggestedMin: 0,
                        }*/
                    },
                ]
            }
        }
    });
    }

  </script>

{% endblock %}
