{% extends "base.html" %}
{% load static %}

{% block title %}{{ start|date:"d M Y" }} - {{ end|date:"d M Y" }}{% endblock %}

{% block content %}
      <h3>
        {{start|date:"d M Y"}} - {{ end|date:"d M Y" }}
      </h3>
{% comment %}
  <div class="row">
    {% for day in date_range.day_set.all|dictsort:"date" %}
      <div class="col-1">
          <a href="{% url 'viewer:day' day.slug %}">
            {{ day.dt | date:"d"}}
          </a>
      </div>
    {% endfor %}
  </div>
{% endcomment %}
  {% for k, v in data.props.items %}
  {% if forloop.counter0|divisibleby:2 %}
    <div class="row">
  {% endif %}
    <div class="col-sm-6">
    <canvas id="chart-{{ k }}" style="width: 100%; height: 300px;"></canvas>
      {% comment %}
      {% include "viewer/inc/prop_stats.html" with field_unit="°C" item=month.temperature_stats %}
      {%  endcomment %}
    </div>
  {% if forloop.counter|divisibleby:2 or forloop.last %}
    </div>
  {% endif %}
  {% endfor %}


{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static "js/Chart.bundle.min.js" %}"></script>
  {% for k, v in data.props.items %}
    {% include "viewer/inc/chart.period.js.html" with series=v pname=v.caption x_series=day_rng %}
  {% endfor %}
{% endblock javascript %}
