{% extends "base.html" %}
{% load static %}

{% block title %}{{ day }}{% endblock %}

{% block content %}
    <h3>

      {% if day.get_previous_by_date %}
        <a href="{% url 'viewer:day' day.get_previous_by_date.slug %}">&lt;</a>
      {% endif %}
      {{day.date|date:"l d"}}
      <a href="{% url 'viewer:month' day.month.slug %}">{{day.date|date:"M"}}</a>
      <a href="{% url 'viewer:year' day.month.year.slug %}">{{day.date|date:"Y"}}</a>
      {% if day.get_next_by_date %}
        <a href="{% url 'viewer:day' day.get_next_by_date.slug %}">&gt;</a>
      {% endif %}
    </h3>

    <div class="row">
      <div class="col-sm">
        <canvas id="chart-temp" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="°C" item=day.temperature_stats dayflag=True %}
      </div>
      <div class="col-sm">
        <canvas id="chart-press" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="hPa" item=day.pressure_stats dayflag=True %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <canvas id="chart-dewpt" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="°C" item=day.dew_point_stats dayflag=True %}
      </div>
      <div class="col-sm">
        <canvas id="chart-humid" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="%" item=day.humidity_stats dayflag=True %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <canvas id="chart-windsp" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="knots" item=day.wind_speed_stats dayflag=True %}
      </div>
      <div class="col-sm">
        <canvas id="chart-maxwindsp" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="knots" item=day.max_wind_speed_stats dayflag=True %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <canvas id="chart-sun" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="h" item=day.sun_hours_stats dayflag=True %}
      </div>
      <div class="col-sm">
        <canvas id="chart-rain" style="width: 100%; height: 350px;"></canvas>
        {% include "viewer/inc/prop_stats.html" with is_day=True field_unit="mm" item=day.rain_stats dayflag=True %}
      </div>
    </div>
 
{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static "js/Chart.bundle.min.js" %}"></script>
  {% include "viewer/inc/chart.day.js.html" with series=day.temperature pname='Temperature' x_series=day.time prop_id='temp' sugmin=0 sugmax=25 %}
  {% include "viewer/inc/chart.day.js.html" with series=day.pressure pname='Pressure' x_series=day.time prop_id='press' sugmin=980 sugmax=1040 %}
  {% include "viewer/inc/chart.day.js.html" with series=day.dew_point pname='Dew Point' x_series=day.time prop_id='dewpt' %}
  {% include "viewer/inc/chart.day.js.html" with series=day.humidity pname='Humidity' x_series=day.time prop_id='humid' sugmin=0 %}
  {% include "viewer/inc/chart.day.js.html" with series=day.wind_speed pname='Wind speed' x_series=day.time prop_id='windsp' sugmin=0 %}
  {% include "viewer/inc/chart.day.js.html" with series=day.max_wind_speed pname='Max wind speed' x_series=day.time prop_id='maxwindsp' sugmin=0 %}
  {% include "viewer/inc/chart.day.js.html" with series=day.sun_hours_percent is_extensive=True pname='Sunshine' x_series=day.time prop_id='sun' sugmin=0 sugmax=100 %}
  {% include "viewer/inc/chart.day.js.html" with series=day.rain_delta is_extensive=True pname='Rain' x_series=day.time prop_id='rain' sugmin=0 sugmax=3 %}
{% endblock javascript %}
