{% extends "base.html" %}
{% load static %}

{% block title %}Month: {{ month }}{% endblock %}

{% block content %}
      <h3>
        {% if month.get_previous_by_date %}
          <a href="{% url 'viewer:month' month.get_previous_by_date.slug %}">&lt;</a>
        {% endif %}
        {{month.date|date:"M"}}
        <a href="{% url 'viewer:year' month.year.slug %}">{{month.date|date:"Y"}}</a>
        {% if month.get_next_by_date %}
          <a href="{% url 'viewer:month' month.get_next_by_date.slug %}">&gt;</a>
        {% endif %}
      </h3>

  <div class="row">
    {% for day in month.day_set.all|dictsort:"date" %}
      <div class="col-1">
          <a href="{% url 'viewer:day' day.slug %}">
            {{ day.dt | date:"d"}}
          </a>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ month.temperature_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="°C" item=month.temperature_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ month.pressure_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="hPa" item=month.pressure_stats  %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ month.dew_point_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="°C" item=month.dew_point_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ month.humidity_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="%" item=month.humidity_stats %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ month.wind_speed_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="knots" item=month.wind_speed_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ month.max_wind_speed_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="knots" item=month.max_wind_speed_stats %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ month.sun_hours_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="h" item=month.sun_hours_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ month.rain_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="mm" item=month.rain_stats %}
    </div>
  </div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static "js/Chart.bundle.min.js" %}"></script>
  {% include "viewer/inc/chart.period.js.html" with series=month.temperature_series pname='Temperature' x_series=nb_days sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.pressure_series pname='Pressure' x_series=nb_days sugmin=980 sugmax=1040 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.dew_point_series pname='Dew Point' x_series=nb_days sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.humidity_series pname='Humidity' x_series=nb_days sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.max_wind_speed_series pname='Max wind speed' x_series=nb_days sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.wind_speed_series pname='Wind speed' x_series=nb_days sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.sun_hours_series pname='Sun hours' x_series=nb_days sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=month.rain_series pname='Rain' x_series=nb_days sugmin=0 %}
{% endblock javascript %}
