{% extends "base.html" %}
{% load static i18n %}
{% block title %}Years{% endblock %}

{% block content %}
  <h2>Year</h2>

  <div class="list-group">
    {% for year in years %}
      <h4 class="list-group-item-heading">
        <a href="{% url 'viewer:year' year.slug %}">
          {{ year }}
        </a>:
      {% for month in year.month_set.all|dictsort:"date" %}
        <a href="{% url 'viewer:month' month.slug %}">
          {{ month.dt | date:"M" }}
        </a>
        {% if not forloop.last %} | {% endif %}
      {% endfor %}
      </h4>
    {% endfor %}
  </div>
{% endblock content %}

