{% extends "base.html" %}
{% load static %}

{% block title %}{{ year }}{% endblock %}

{% block content %}
      <h3>
        {% if year.get_previous_by_date %}
          <a href="{% url 'viewer:year' year.get_previous_by_date.slug %}">&lt;</a>
        {% endif %}
        {{year.date|date:"Y"}}
        {% if year.get_next_by_date %}
          <a href="{% url 'viewer:year' year.get_next_by_date.slug %}">&gt;</a>
        {% endif %}
      </h3>

  <div class="row">
    {% for month in year.month_set.all|dictsort:"date" %}
      <div class="col-1">
        <a href="{% url 'viewer:month' month.slug %}">
          {{ month.dt | date:"M" }}
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ year.temperature_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="°C" item=year.temperature_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ year.pressure_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="hPa" item=year.pressure_stats  %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ year.dew_point_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="°C" item=year.dew_point_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ year.humidity_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="%" item=year.humidity_stats %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ year.wind_speed_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="knots" item=year.wind_speed_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ year.max_wind_speed_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="knots" item=year.max_wind_speed_stats %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="chart-{{ year.sun_hours_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="h" item=year.sun_hours_stats %}
    </div>
    <div class="col-sm-6">
      <canvas id="chart-{{ year.rain_series_id }}" style="width: 100%; height: 300px;"></canvas>
      {% include "viewer/inc/prop_stats.html" with field_unit="mm" item=year.rain_stats %}
    </div>
  </div>
  
{% endblock content %}


{% block javascript %}
{{ block.super }}
  <script src="{% static "js/Chart.bundle.min.js" %}"></script>
  {% include "viewer/inc/chart.period.js.html" with series=year.temperature_series pname='Temperature' x_series=nb_months sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.pressure_series pname='Pressure' x_series=nb_months sugmin=980 sugmax=1040 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.dew_point_series pname='Dew Point' x_series=nb_months sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.humidity_series pname='Humidity' x_series=nb_months sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.max_wind_speed_series pname='Max wind speed' x_series=nb_months sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.wind_speed_series pname='Wind speed' x_series=nb_months sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.sun_hours_series pname='Sun hours' x_series=nb_months sugmin=0 %}
  {% include "viewer/inc/chart.period.js.html" with series=year.rain_series pname='Rain' x_series=nb_months sugmin=0 %}
{% endblock javascript %}
