{% extends "base.html" %}
{% load static i18n %}
{% block title %}Years summary{% endblock %}

{% block content %}
  <div class="list-group">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
      {% with years|first as y %}
        <tr>
          <th rowspan="2" scope="col">Year</th>
          {% for k, v in y.prop_dict.items %}
            <th colspan="{{ v.items|length }}" scope="colgroup">{{ k }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for k, v in y.prop_dict.items %}
            {% for prop, value in v.items %}
              <th scope="col">{{ prop }}</th>
            {% endfor %}
          {% endfor %}
        </tr>
      {% endwith %}
      </thead>
      <tbody>
      {% for year in years %}
        <tr>
          <th scope="row">
            <a href="{% url 'viewer:year' year.slug %}">
            {{ year }}
            </a>
          </th>
          {% for k, v in year.prop_dict.items %}
            {% for prop, value in v.items %}
              <td>{{ value | floatformat }}</td>
            {% endfor %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock content %}

